{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
		<li><a href="/Instructor/createdCourses/">View Created Courses</a></li>
		<li><a href="/Instructor/createdCourses/createComponent/?courseID={{course.id}}&moduleID={{module.id}}">Create New Component</a></li>
</ul>
<h1><a href="/Instructor/createdCourses/?courseID={{course.id}}">{{ course.name }}</a></h1>
	<table class="table table-striped table-hover">
		<tr>
			<th><a href="/Instructor/createdCourses/createdModule/?courseID={{course.id}}&moduleID={{module.id}}">{{ module.name }}</a></th>
			<th></th>
		</tr>
					{% for component in componentList %}


						{% if component.module_id == module.id %}
							<tr>
								<td>
							<td>{{component.name}}</td>
							{% if not_released and can_modify %}
								{% if component.order == 1 %}
									<td><input disabled type="button" value="UP" onclick="location.href='/Instructor/createdCourses/componentMoveUp/?courseID={{course.id}}&moduleID={{module.id}}&componentID={{component.id}}'"></td>
								{% else %}
									<td><input type="button" value="UP" onclick="location.href='/Instructor/createdCourses/componentMoveUp/?courseID={{course.id}}&moduleID={{module.id}}&componentID={{component.id}}'"></td>
								{% endif %}
								{% if component.order == module.no_of_component %}
									<td><input disabled type="button" value="DOWN" onclick="location.href='/Instructor/createdCourses/componentMoveDown/?courseID={{course.id}}&moduleID={{module.id}}&componentID={{component.id}}'"></td>
								{% else %}
									<td><input type="button" value="DOWN" onclick="location.href='/Instructor/createdCourses/componentMoveDown/?courseID={{course.id}}&moduleID={{module.id}}&componentID={{component.id}}'"></td>
								{% endif %}
								<td><input type="button" value="DELETE" onclick="location.href='/Instructor/createdCourses/deleteComponent/?courseID={{course.id}}&moduleID={{module.id}}&componentID={{component.id}}'"></td>
							{% endif %}
							</tr>
						{% endif %}
					{% endfor %}

	</table>
<script>
	$(".role_selection li").removeClass("active");
	$("#instructor").addClass("active");
</script>
{% endblock %}

