
{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
    <li><a href="/Instructor/createdCourses/">View Created Courses</a></li>
    <li><a href="/Instructor/createCourse/">Create New Course</a></li>
</ul>
  <form method="POST" class="form-horizontal post-form">{% csrf_token %}
  <fieldset>
    <legend>Create New Module</legend>
    {% if error %}
      <div style="color:red;font-size: 18px;">{{error}}</div>
    {% endif %}
    <div class="form-group">
      <label for="moduleName" class="col-lg-2 control-label">Module name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="moduleName" name="moduleName" placeholder="Enter Module Name">
      </div>
    </div>

    <label for="moduleOrder" class="col-lg-2 control-label">Order</label>
    <input type="number" class="form-control" id="moduleOrder" name="moduleOrder" placeholder="Enter Order of the Module: e.g. '3'">

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
<script>
  $(".role_selection li").removeClass("active");
  $("#instructor").addClass("active");
</script>
{% endblock %}
