{% extends 'base.html' %}

{% block content %}

<ul class="nav nav-tabs">
		<li><a href="/Participant/availableCourse/">View Available Courses</a></li>
		<li class="active"><a href="/Participant/currentCourse/">Current Course</a></li>
</ul>
{% if error %}
	<h1>{{ error }}</h1>
{% else %}
<h1>Current Course : {{ course.name }}</h1>

	{% if profile.latestModule == 9999 %}
		<h3>Congratulations!</h3>
		<h4>You have completed this course.<br>
		Please go to "View Available Courses" to enroll a new course.</h4>
	{% endif %}
	<table class="table table-striped table-hover">
		<tr>
			<th>Modules:</th>
			<th></th>
		</tr>
		{% for module in moduleList %}
		<tr>
			{% if module.order <= profile.latestModule %}
				<td><a href="/Participant/viewComponent/?courseID={{course.id}}&moduleID={{module.id}}">{{module.name}}</a></td>
				
				
				{% for component in componentList %}
						<tr>
						{% if component.module_id == module.id %}
							<td></td>
							<td>{{component.name}}
								{% if component.type == 0 %}
									<div>{{ component.text_content }}</div>
								{% endif %}
								{% if component.type == 1 %}
									<img src="{{ component.link}}" width="auto">
								{% endif %}
								{% if component.type == 2 %}
                    				<a href="{{ component.file.url }}">{{ component.file.name }}</a>
								{% endif %}
								{% if component.type == 3 %}
									<iframe width="560" height="315" src="{{component.link}}"" frameborder="0" allowfullscreen></iframe>
								{% endif %}
								{% if component.type == 4 %}
									<div>Quiz Link:</div>
									<a href="#"></a>
								{% endif %}
							</td>
						{% endif %}
						</tr>
					{% endfor %}
		</tr>
		{% endfor %}
	</table>
		{% if profile.latestModule != 9999 %}
			<br>
			<br>
			<span>
			<button id="drop" class="btn btn-danger" value="{{ course.name }}" onclick="dropfn()">Drop</button>
			</span>
		{% endif %}
	<script>
			  $(".role_selection li").removeClass("active");
		  $("#instructor").addClass("active");
	function dropfn() {
		var name = document.getElementById("drop").value;
		var r = confirm("Current Course: "+name+"\nAre you sure to drop the current course?\nAll progress will be lost.");
		if (r==true) {
			window.location.href = "/Participant/drop/";
		}
	}
	</script>
{% endif %}


{% endblock %}