{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
		<li><a href="/Participant/availableCourse/">View Abailable Courses</a></li>
		<li><a href="/Participant/currentCourse/">Current Course</a></li>
		<li><a href="/accounts/logout/">Log-out</a></li>
</ul>
<h1>Enrollment</h1>
	<div>
		{% if profile.currentCourse != -999 %}
			<span>Current Course: {{ course.name }}</span>
		{% else %}
			<span>No Course is enrolled.</span>
		{% endif %}
	</div>
	{% if error %}
	<script>
	function dropfn() {
		var name = document.getElementById("drop").value;
		var r = confirm("Current Course: "+name+"\nAre you sure to drop the current course?\nAll progress will be lost.");
		if (r==true) {
			window.location.href = "/Participant/drop/";
		}
	}
</script>
		<span id="test">{{ error }}<span>
		<br>
		<br>
		<span><button id="drop" class="btn btn-danger" value="{{ course.name }}" onclick="dropfn()">Drop</button><span>
	{% endif %}
{% endblock %}

