{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
		<li class="active"><a href="/Admin/userPermission/">Manage User Permission</a></li>
		<li><a href="/Admin/manageCategory/">Manage Category</a></li>
</ul>
<h1>Manage User Permission</h1>
	<div>

<!-- 		<input id="ABusername" type="text" class="form-control input-lg" placeholder="Search AB username" />
		<button class="btn btn-default" id="username_submit"></button> -->
<!-- 		<select class="role_select" onchange="role_select()">
			<option value="all">All</option>
			<option value="admin">Administrator</option>
			<option value="HR">HR</option>
			<option value="Instructor">Instructor</option>
		</select> -->
	</div>
	<table class="table table-striped table-hover">
		<tr>
			<th>Username</th>
			<th>Administrator</th>
			<th>HR</th>
			<th>Instructor</th>
			<th>Instructor:create</th>
			<th>Instructor:modify</th>
			<th>Access to SDP</th>
		</tr>
		{% load user_context %}

		{% for u in user %}
		<tr>
			<td>{{ u.username }}</td>

			<td>
			{% if u|has_group:"4" %}
				<input type="checkbox" class="edit_permission 1 {{u.id}}" value="Administrator" checked>
			{% else %}
				<input type="checkbox" class="edit_permission 1 {{u.id}}" value="Administrator">
			{% endif %}
			</td>

			<td>
				{% if u|has_group:"3" %}
					<input type="checkbox" class="edit_permission 1 {{u.id}}" value="HR_staff" checked>
				{% else %}
					<input type="checkbox" class="edit_permission 1 {{u.id}}" value="HR_staff">
				{% endif %}
			</td>

			<td>
				{% if u|has_group:"1" %}
					<input type="checkbox" class="edit_permission 1 {{u.id}}" value="Instructor" checked>
				{% else %}
					<input type="checkbox" class="edit_permission 1 {{u.id}}" value="Instructor">
				{% endif %}
			</td>

			
				{% if u|has_group:"1" %}
					{% for i in instructor %}
						{% if i.user == u %}
							<td>
								<input type="checkbox" class="edit_permission 2 {{u.id}}" value="create"
								{% if i.permission_createCourse %}
									checked
								{% endif %}
								> 
							</td>
							<td> <input type="checkbox" class="edit_permission 2 {{u.id}}" value="modify"
								{% if i.permission_modifyCourse %}
									checked
								{% endif %}
							> </td>
						{% endif %}
					{% endfor %}
				{% else %}
					<td> <input type="checkbox" class="edit_permission 2 {{u.id}}" value="create" disabled> </td>
					<td> <input type="checkbox" class="edit_permission 2 {{u.id}}" value="modify" disabled> </td>
				{% endif %}

				<td>
				{% if u.is_active %}
					<input type="checkbox" class="edit_permission 3 {{u.id}}" value="Access" checked>
				{% else %}
					<input type="checkbox" class="edit_permission 3 {{u.id}}" value="Access">
				{% endif %}
				</td> 
		</tr>
		{% endfor %}
	</table>
	<div class="modal" id="warning-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Confirm</h4>
	      </div>
	      <div class="modal-body">
	        <p>You want to release this course? </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-warning release_submit_btn">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
		$(".role_selection li").removeClass("active");
		$("#admin").addClass("active");
		api = "http://127.0.0.1:8000/";


		$(".edit_permission").click(function() {
			request_type = $(this).attr('class').split(' ')[1];
			userID = $(this).attr('class').split(' ')[2];
			is_allowed = $(this).prop("checked");
			permission_name = $(this).val();
			console.log(request_type+" "+userID+" "+is_allowed+" "+permission_name);
			$.ajax({
				type: "POST",
				url: api +"Admin/editUserPermission/",
				data:{ 
					request_type:request_type,
					is_allowed:is_allowed,
					userID:userID,
					permission_name:permission_name,
					csrfmiddlewaretoken: '{{ csrf_token }}' },
				success:function(msg){
					if(msg=="success")
						alert("success");
					console.log("success");
					location.reload();
				}
				
    			,error:function (xhr, textStatus, thrownError){
        			alert("error:"+thrownError);
    			}

			});



		});


	</script>
{% endblock %}


