{% extends 'base.html' %}

{% block content %}

<ul class="nav nav-tabs">
		<li><a href="/Participant/availableCourse/">View Available Courses</a></li>
		<li><a href="/Participant/currentCourse/">Current Course</a></li>
		<li class="active"><a href="/Participant/courseHistory/">Course History</a></li>
</ul>
	<h1>Course History</h1>
		{% if historyList %}

			<table class="table table-striped table-hover">
			<tr><th>Completed Course</th>
			<th>Completed Date</th></tr>
			{% for record in historyList %}
				<tr>
					{% for course in courseList %}
						{% if course.id == record.course_id %}
							<td><a href='/Participant/viewCourse/?completed=1&courseID={{course.id}}'>{{ course.name }}</a></td>
						{% endif %}
					{% endfor %}
					<td>{{ record.completed_at }}</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<span>No Course History.</span>
		{% endif %}
	<script>
		$(".role_selection li").removeClass("active");
		$("#Participant").addClass("active");
	</script>
{% endblock %}